.home {
}
.portfolio-cols {
  display: flex;
  margin: 1% 0 5% 0;
}
.portfolio-col {
  width: fit-content;
  height: 500px;
  margin: 0 0% 0 5%;
}
.portfolio-col > p {
  color: #d8d8d8;
  font-size: 20px;
  font-weight: bold;
}
.portfolio-overview {
  background-color: rgb(19, 23, 34);
  padding-left: 20px;
  width: 15vw;
  height: 100%;
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);

  border: 2px solid rgba(81, 203, 238, 1);
}
.portfolio-performance {
  background-color: rgb(19, 23, 34);
  width: 69vw;
  height: 100%;
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);

  border: 2px solid rgba(81, 203, 238, 1);
}
.portfolio-holdings {
  width: 90%;
  height: 300px;
  background-color: rgb(19, 23, 34);
  margin: 1% 5%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);

  border: 2px solid rgba(81, 203, 238, 1);
}
.home > p {
  margin-left: 5%;
  color: #d8d8d8;
  font-size: 20px;
  font-weight: bold;
}
.portfolio-column-title {
  font-size: 18px;
  color: #d8d8d8;

  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
}

.ticker-info {
  font-size: 18px;
  color: #d8d8d8;
  font-weight: bold;
}
.no-tickers-error {
  text-align: center;
  padding-top: 20%;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.change {
  display: flex;
}
.change-col {
  margin-right: 10%;
}
.account-overview-small-text,
.account-overview-medium-text,
.account-overview-big-text {
  color: #d8d8d8;
}

.account-overview-small-text {
  font-size: 30px;
}

/* LOADERS */
.loader {
  color: white;
  font-size: 40px;
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.pre-home{
  margin: 5%;
  display: flex;
}
.pre-home-left{
  margin: 5% 0;

}
.pre-home-left > h1{
  color:white;
  font-size: 80px;
  font-weight: bold;
  
  width: 100%;
}
.pre-home-left > h2{
  color:#d8d8d8;
  font-weight: normal;
}
.pre-home-right{
  width: 100%;
}
.pre-home-logo{
  width: 800px;
  border-radius: 20px;
}
.pre-home-logo-back{
  position: relative;
  left: 50%;
  top: 65%;
  width: 500px;
}
.pre-home-logo-front{
  position: absolute;
  z-index: 2;
  right: 15%;
}
.blue-blob{
  width: 400px;
  height: 500px;
  background-color: rgb(46, 46, 134);
  position: absolute;
  border-radius: 50px;
  top: 40%;
  right: 5%;
}
.purple-blob{
    width: 800px;
  height: 600px;
  background-color: rgb(66, 66, 124);
  position: absolute;
  border-radius: 50px;
  top: 25%;
  right: 20%;
}